.purchased-books-container ul {
    /*width: 500px;*/
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.purchased-book-item {
    width: 500px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
    box-shadow: var(--main-shadow);
    border-radius: 5px;
    min-height: 70px;
}

.purchased-book-item p {
    font-size: 17px;
    color: #333333;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
}

.purchased-book-item p svg {
    font-size: 25px;
}

.purchased-book-item p span {
    margin-left: 10px;
}

.purchased-book-item button {
    align-self: flex-end;
    font-weight: normal;
}

.purchased-book-item button span {
    margin-left: 5px;
}