.subs-list button {
    background-color: #5d5c5c;
}

.subs-list button:hover {
    background-color: #4f4e4e;
}

.subscriptions-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    padding: 30px 0 10px 0;
}

.subscriptions-modal .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.subscriptions-modal ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 400px;
    overflow-y: auto;
}

.subscriptions-modal ul::-webkit-scrollbar {
    width: 5px;
    display: block;
}

.subscriptions-modal ul::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 8px;
}

.subscriptions-modal ul li {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    transition: all 0.2s ease-in-out;
}

.subscriptions-modal ul li a span:last-child {
    margin-left: 10px;
    color: #5d5c5c;
}

.subscriptions-modal ul li:hover {
    background-color: rgba(211, 211, 211, 0.53);
    transition: all 0.2s ease-in-out;
}

.subscriptions-modal ul li:hover a span {
    color: #318CE7;
    transition: all 0.2s ease-in-out;
}

.subscriptions-modal ul li a {
    display: flex;
}

.subscriptions-modal ul li a svg {
    color: #318CE7;
}