.list-of-book-items-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.list-of-book-items-container ul {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.list-of-book-items-container ul li {
    width: 24%;
    position: relative;
}

.book-card__head img {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    height: 290px;
    object-fit: cover;
    background-color: grey;
}

.book-card__head .admin-card-img {
    height: 250px;
    object-fit: cover;
}

.list-of-book-items-container ul li a:hover p {
    color: #318CE7;
    transition: all 0.2s ease-in-out;
}

.book-card__head p {
    text-align: center;
    font-size: 17px;
    color: #464646;
    margin-top: 8px;
    font-weight: 600;
    padding: 0 5px;
    transition: all 0.2s ease-in-out;
}

.book-card__head p:hover {
    color: #318CE7;
    transition: all 0.2s ease-in-out;
}

.book-card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px 10px;
}

.book-card__bottom div {
    display: flex;
    align-items: flex-end;
}

.book-card__bottom div h3 {
    margin-right: 4px;
}

.book-card__bottom div span {
    /*color: cadetblue;*/
    font-weight: 600;
}

.book-card__bottom .adding-to-cart-btn {
    padding: 5px 0;
    background-color: rgb(82, 168, 255);
}

.book-card__bottom .adding-to-cart-btn:disabled,
.book-card__bottom .adding-to-cart-btn:disabled:hover,
.book-card__bottom .adding-to-cart-btn:disabled:active {
    background-color: #ccc;
    color: white;
    border-color: #ccc;
    cursor: not-allowed;
    transition: all 0.2s ease-in-out;
}

.book-card__bottom .adding-to-cart-btn:hover {
    /*background-color: #76a976;*/
}

.delete-book-btn {
    background-color: transparent;
    color: indianred;
    padding: 4px 8px 2px 5px;
    border-radius: 4px;
    display: flex;
    align-self: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 4px;
    border: 1px solid ;
    transition: all 0.2s ease-in-out;
}

/*.block-book-btn {*/
/*    bottom: 45px;*/
/*    color: orange;*/
/*    border-color: orange;*/
/*    width: calc(100% - 8px);*/
/*    padding: 7px 14px;*/
/*    text-transform: uppercase;*/
/*}*/

.delete-book-btn {
    top: 4px;
}

/*.unlock-book-btn {*/
/*    bottom: 4px;*/
/*    border: 1px solid royalblue;*/
/*    color: royalblue;*/
/*    background-color: transparent;*/
/*    padding: 7px 14px;*/
/*    width: calc(100% - 8px);*/
/*    background-color: rgba(65, 105, 225, 0.16);*/
/*}*/

.unlock-book-btn,
.block-book-btn {
    display: block;
    position: absolute;
    width: 94px;
    width: calc(100% - 8px);
    left: 4px;
}

.block-book-btn {
    bottom: 45px;
}

.unlock-book-btn {
    bottom: 4px;
}

/*.delete-book-btn:hover {*/
/*    color: #be4040;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

.delete-book-btn span:last-child,
.unlock-book-btn span:last-child {
    margin-top: 3px;
    margin-left: 3px;
    text-transform: uppercase;
}

.book-status,
.active-book-status,
.inactive-book-status {
    background-color: white;
    padding: 7px 14px;
    border-radius: 4px;
    border: none;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 1px solid lightgrey;
}

.active-book-status {
    border: 1px solid limegreen;
    color: forestgreen;
    background-color: #b0eeb0;
}

.inactive-book-status {
    border: 1px solid orange;
    color: orange;
    background-color: #ffdb97;
}

.searching-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .list-of-book-items-container ul {
        width: 100%;
    }

    .list-of-book-items-container ul li {
        width: 250px;
    }
}