.author-wrapper {
    display: flex;
    align-items: flex-start;
}

.author-info-container {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--main-shadow);
}

.author-info-container p {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 17px;
}

.author-info-container p svg {
    color: #318CE7;
}

.author-info-container p span {
    margin-left: 10px;
    color: #5d5c5c;
}

.author-info-container button {
    background-color: #5d5c5c;
    width: 100%;
    margin-top: 10px;
    font-weight: normal;
}

.author-info-container .sub-btn {
    background-color: #cccccc;
    box-shadow: none;
    color: grey
}

.author-info-container .sub-btn:hover {
    background-color: #cccccc;
    box-shadow: none;
    color: grey
}

.author-info-container button:hover {
    background-color: #4f4e4e;
}

.author-info-container-books {
    flex: 4.3;
    margin-left: 5px;
}

.author-info-container-books ul li {
    width: 230px;
}