.category-items-container {
    padding-top: 20px;
}

.category-items-container ul li {
    width: 232px;
    min-height: 355px;
}

.category-items-container .loading-box {
    margin: 20px auto;
    width: 45px;
}