.user-wrapper,
.admin-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 50px;
}

.user-wrapper {
    padding-top: 90px;
}

.admin-wrapper {
    padding-top: 30px;
}

.profile-box {
    min-height: 300px;
    width: 270px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%), 0px 0px 1px 0px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.profile-box__top {
    padding: 20px;
    text-align: center;
}

.profile-box__top span {
    display: block;
    margin: 2px 0;
}

.profile-box__top span:nth-child(2) {
    font-weight: 600;
    margin-top: 20px;
}

.profile-box__top span:last-child {
    color: #a6a9ac;
    font-size: 15px;
}

.profile-box__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box__img svg {
    display: block;
    font-size: 140px;
    color: #4f4f4f;
}

.profile-box__bottom {
    border-top: 1px solid #f5f8f9;
    padding: 20px;
}

.profile-box__bottom p span:first-child {
    font-weight: 500;
    color: black;
}

.profile-box__bottom p:first-child span:last-child {
    color: #1976d2;
}

.profile-box__bottom span:last-child {
    margin-left: 10px;
}

.profile-box__bottom p:last-child .active {
    color: forestgreen;
}

.profile-box__bottom p:last-child .inactive {
    color: orange;
}

.main-box-profile {
    min-height: 800px;
    width: 72%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 20%), 0px 0px 1px 0px rgb(0 0 0 / 20%);
    position: relative;
}

.update-user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    width: 300px;
}

.update-user-form input {
    width: 300px;
    padding: 7px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: whitesmoke;
    font-size: 15px;
}

.update-user-form input:focus {
    transition: all 0.2s ease-in;
    border-color: var(--main-input-border);
    box-shadow: var(--main-input-box-shadow);
}

.main-box-profile .logout-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}