.author-books-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.author-books-container ul {
    width: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.author-books-container ul li {
    min-height: 100px;
    box-shadow: var(--main-shadow);
    border-radius: 4px;
    padding: 10px;
    background-color: white;
}